/*////////////////////////////////////////////////////////////////////////
Table of Contents:
    1. Global Styles
    2. Typografie
    3. Areas
        3.1 Header
        3.2 Testimonial
        3.3 Support
        3.4 Faq
        3.5 Footer
////////////////////////////////////////////////////////////////////////*/

/*kleuren (grijs #899CA0 en donkergroen #1C2B32)*/

/*////////////////////////
    1. Global Styles
////////////////////////*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ol, ul {
    list-style: none;
}

/*////////////////////////
    2. Typography
////////////////////////*/
* {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

H1 {
    font-weight: bold;
    font-size: 5rem;
}

H2 {
    font-weight: bold;
}

/*////////////////////////
    3. Areas
////////////////////////*/

/*///////////// 3.1 Header /////////////*/
header {
    width: 100%;
    position: relative;
    margin: auto;
    background-image: url("/assets/images/mountains.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    text-align: center;

}

main {
    width: max(1000px);
    /*margin: 100px auto;*/
    padding: 0px 0px;
    text-align: center;
}

.content-domeinshop {
    line-height: 2;
    padding: 100px 100px;
}

.availability input{
    border: 2px solid #1C2B32;
    width: 200px;
    height: 60px;
    border-radius: 30px 0 0 30px;
    text-align: center;
}

.availability button{
    border: 2px solid #1C2B32;
    width: 200px;
    height: 60px;
    border-radius: 0px 30px 30px 0px;
    text-align: center;
    margin: -10px;
}

#check-availability {
    background: #1C2B32;
    color: #FFFFFF;
}
/*///////////// 3.2 Testimonial /////////////*/
.testimonial article {
    display: inline-block;
    position: relative;
    width: 800px;
    padding: 30px 30px 30px 70px;
    margin: 60px auto;
    box-shadow: 0 8px 24px #899CA0;
    border-radius: 10px;
    text-align: left;
}

.quote-left {
    position: absolute;
    top: 30px;
    left: 25px;
    height: 30px;
    /*display: inline;*/
}

.avatar  {
    /*position: absolute;*/
    bottom: 20px;
    left: 60px;
    width: 30px;
    vertical-align: middle;
}
.name-test{
    display: inline;
    padding: 20px;
}
/*///////////// 3.3 Support /////////////*/
.support {
    align-content: center;
    /*image: width 600px;*/
    display: inline-block;
    padding: 100px 0px;
}

.support img {
    display: inline-block;
    width: 800px;
    border-radius: 10px;
    margin-top: 60px;
}

#contact {
    background: black;
    color: white;
    height: 70px;
    border-radius: 35px;
    padding:25px 50px;
}

.support-text {
    text-align: left;
}
/*///////////// 3.4 Faq /////////////*/
.hide-text {
    display: none;
}

li:hover + .hide-text {
    display: block;
    padding: 20px 20px;
    background-color: grey;
    color: white;
    width: 700px;
    border-radius: 10px;
    line-height: 1.5;
    /*position: absolute;*/
    /*bottom: 500 px;*/
    /*left: 450px;*/
}

.faq ul {
    display: block;
    list-style-type: square;
    text-align: left;
    padding: 100px 50px;
    line-height: max(60px);
}

/*///////////// 3.5 Footer /////////////*/