/*////////////////////////////////////////////////////////////////////////
Table of Contents:
    1. Global Styles
    2. Typografie
    3. Areas
        3.1 Header
        3.2 Testimonial
        3.3 Support
        3.4 Faq
        3.5 Footer
////////////////////////////////////////////////////////////////////////*/

/*kleuren (grijs #899CA0 en donkergroen #1C2B32)*/

/*////////////////////////
    1. Global Styles
////////////////////////*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ol, ul {
    list-style: none;
}

/*////////////////////////
    2. Typography
////////////////////////*/
* {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}
H1 {
    font-weight: bold;
    font-size: 5rem;
}

/*////////////////////////
    3. Areas
////////////////////////*/

/*///////////// 3.1 Header /////////////*/
body {
    background-image: url ("/assets/images/mountains.jpg");
}
main {
    width: max(1000px);
    margin: 100px auto;
    padding: 60px 150px;
    text-align: center;
}

.content-domeinshop {
    line-height: 3;
    margin-bottom: 200px;

}
/*span {}*/
.check-availability span {
    border: 1px;
    border: color #1C2B32;
    width: 500 px;
    height: 60px;
    border-radius: 20px;
}
.check-availability input + button{
    margin: -1px;
}
/*///////////// 3.2 Testimonial /////////////*/
.testimonial article {
    display: inline-block;
    position: relative;
    width: 800px;
    padding: 30px;
    margin: 60px auto;
    box-shadow: 0 8px 24px #899CA0;
    text-align: left;
    border-radius: 10px;
}
.testimonial article img {
    position: absolute;
    top: 30px;
    left: 25px;
    align: left;
    img: height=(30px);
    /*display: inline;*/
}
.avatar {
    position: absolute;
    bottom: 30px;
    left: 60px;
    height: 30px;
}

/*///////////// 3.3 Support /////////////*/
.support {
    align-content: center;
    /*image: width 600px;*/
    display: inline-block;
}
.support img {
    display: inline-block;
    width: 660px;
    border-radius: 10px;
    margin-top: 60px;
}

/*///////////// 3.4 Faq /////////////*/
.hide-text {
    display: none;
}
li:hover + .hide-text{
    display: block;
    padding: 20px 20px;
    background-color: grey;
    color: white;
    width: 700px;
    border-radius: 10px;
    line-height: 1.5;
    /*position: absolute;*/
    /*bottom: 500 px;*/
    /*left: 450px;*/
}

.faq ul {
    display: block;
    list-style-type: square;
    text-align: left;
    padding: 100px 50px;
    line-height: max(60px);

}

/*///////////// 3.5 Footer /////////////*/